body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

nav {
  width: auto;
  height: 108px;
  padding: 0 105px;
}

#logo {
  display: flex;
  width: 79.67px;
  height: 86.4px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: linear-gradient(165.1deg, #F31616 8.76%, rgba(65, 26, 223, 0.96) 76.96%);
}

.nav-links {
  display: flex;
  width: 430px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  gap: 70px;
  text-align: left;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #000;
}

.icons {
  display: flex;
  width: 20.17px;
  height: 16px;
  gap: 70px;
  list-style: none;
}
.icons a{
  text-decoration: none;
  color: #000;
}
.top-nav {
  display: flex;
  align-items: center;
  gap: 250px;
}


.main {
  background-image: url(../images/5ab419f83208f5bf5599e17c45ec04a3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;       
}
.main {
  width: 100%;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.layout{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 50%;
}
.logo-main{
  font-family: 'Poppins', sans-serif;
  width: 115px;
  height: 188px;
  gap: 15px;
  color: #000;
  z-index: 1;
}
.cart h1 {
  font-size: 48px;
  font-weight: 500;
  height: 72px;
  width: 106px;
}
.cart a{
  text-decoration: none;
  color: #000;
}
.logo {
  width: 77px;
  height: 77px;
  left: 14.5px;
  border-radius: 400px;
}
.home-cart a {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  top: 164px;
  width: 115px;
}
.home{
  width: 48px;
  font-weight: 500;
  height: 24px;
  text-decoration: none;
  list-style: none;
  color: #000;
}
.cart2 {
  font-weight: 300; 
  width: 35px;
  height: 24px;
  text-decoration: none;
  list-style: none;
  color: #000;
}
/*shopping cart */
.product .product-price:before, .product .product-line-price:before,.subtotal-value:before, .total-value:before {
  content: '$';
}
article{
  width: auto;
  height: 525px;
}
.column-labels{
  width: 817px;
  height: 55px;
  background-color: #E8F9FD;
  display: flex;
  align-items: center;
}
.product-cart{
  margin-left: 120px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  list-style: none;
  display: flex;
  gap: 100px;
}

.image{
  width: 111px;
}

.product{
  height: 200px;
  border: 1px;
  color: #9F9F9F;
  display: flex;
  align-items: center;
}
.product-details {
  margin-left: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  height: 25px;
  display: flex;
  gap: 90px;
}
input{
  width: 50px;
}

.totals{
  width: 393px;
  height: 390px;
  background-color: #E8F9FD;
}
.cart-totals{
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  color:#000000;
}
.subtotal-details{
  display: flex;
  gap: 70px;
  margin: 50px;
}
.total-details{
  display: flex;
  gap: 70px;
  margin: 50px;
}
.subtotal{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.total{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.subtotal-value{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #9F9F9F;
}
.total-value{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: right;
  color:#46B6C5;
}

.checkout{
  padding: 15px 40px;
  border-radius: 15px;
  border: 1px;
  background-color: #E8F9FD;
  color: black;
  border: 2px solid #000;
  width: 222px;
  height: 58.95px;
  margin-left: 70px;
  margin-bottom: 50px;
}

.shopping-cart{
  display: flex;
  margin: 100px;
  width: auto;
  height: 390px;
  gap: 110px;
}
/* frame 161 */
section{
  margin-bottom: 50px;
}
.cart-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E8F9FD;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 270px;
}
.cart-button h5{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;

}
.cart-button small {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #898989;
}
.cart-button svg {
  width: 60px;
  height: 60px;
}

/* footer design */
.main-footer{
  background-color: #BDE9EF;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 505px;
  position: relative;
}
.footer{
  padding: 43px 200px 43px 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  height: 312px;
}
.footer-content h1{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.footer-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9F9F9F;

}
.footer-content h5 {
  color: #9F9F9F;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  display: flex;
  margin-left: 30px;

}
.footer-content li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  color: #000;
}
.footer-content a{
  text-decoration: none;
  color: #000;
}
.line {
  position: absolute;
  bottom: 0; 
  width: 1240.01px; 
  margin-left: 100px;
  top: 408px;
  border-bottom: 1px solid #BBCBCA;
}
#text-bottom{
  position: absolute;
  bottom: 0; 
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  text-align:center;
  width: 100%;
}


