html {
    box-sizing: border-box;
    min-width: 1240px;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: rgba(0, 0, 0, 1);
}

li a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1224px;
    min-width: 1124px;
    margin: 0 auto;
}

/* header section */

.header_content {
    display: flex;
    justify-content: space-between;
    max-height: 108px;
}

#header_logo {
    margin-left: 150px;
}

.menu_list {
    display: flex;
    margin-top: 28px;
    gap: 0 75px;
}

.menu_item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.header_icons {
    display: flex;
    align-items: center;
    gap: 0 50px;
}


/* main section */

/* banner */
.banner {
    width: 100%;
    height: 316px;
    position: relative;
    margin-bottom: 30px;
    min-width: 1150px;
}

.banner_bg {
    position: absolute;
    z-index: -1;
    width: 100%;  
}

.banner_bg img{
    display: block;
    width: 100%;
    max-height: 316px;
    object-fit: cover;
    filter: blur(2px);
    opacity: 0.5;
}

.banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 1);
}

.banner_title {
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0em;
}

.banner_content ul {
    padding-left: 0;
}

.banner_subtitle li {
    display: inline-flex;
}

.banner_subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}


/* profile us section */

.profile {
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 1);
    width: 100%;
}

.profile_selection {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 51px;
}

.profile_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-decoration: none;
    color: inherit;
}

.profile_title-active {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(70, 182, 197, 1);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
}

.profile_title-active-line {
    width: 160px;
    border-top: 3px solid rgba(70, 182, 197, 1);
    color: rgba(70, 182, 197, 1);
    opacity: 1;
    margin-top: -11px;
}

.profile_selection-line {
    width: 286px;
    margin-top: 0;
}

.pers_set-section {
    width: 100%;
    height: 1011px;
    background-color: rgba(241, 241, 241, 1);
    padding: 236px 0;
}

.pers_set-content {
    display: flex;
    flex-direction: column;
    width: 530px;
    margin: 0 auto;
}

.pers_set-lable {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 22px;
}

.pers_set-input {
    width: 100%;
    height: 75px;
    border-radius: 10px;
    border: 1px solid rgba(159, 159, 159, 1);
    padding: 30px 26px;
    margin-bottom: 30px;
}

.pers_set-input::placeholder {
    text-align: top;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em; 
    text-align: top;
    color: rgba(159, 159, 159, 1);
}

.pers_set-input-messege {
    padding-top: 0;
    height: 120px;
}

.pers_set-btn {
    width: 237px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid rgba(70, 182, 197, 1);
    background: rgba(70, 182, 197, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}

.pers_set-btn:hover {
    background: rgb(41, 160, 175);
    border: 1px solid rgb(20, 64, 69);
}


/* quality-line */

.qualityLine{
    background-color: #E8F9FD;
    min-width: 1240px;
    padding: 100px 0;
    margin-bottom: 30px;
}

.qualityLine_content {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.qualityLine-subsection {
    display: flex;
    justify-content: space-between;
}

.qualityLine svg {
    margin: 10px 5px;
}

.qualityLine_info{
    display: flex;
    flex-direction: column;
}

.qualityLine_desc-bold {
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
    text-align: left;
    color: #242424;
    margin-top: 5px;
}

.qualityLine_info small {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #898989;
    margin-top: -15px;
}


/* footer design */

.footer{
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    background-color: #BDE9EF;
    width: 100%;
    height: 505px;
    padding: 48px 100px 38px;
}

.footer_content{
    display: flex;
    width: 775.01px;
    height: 75%;
    margin-bottom: 48px;  
    justify-content: space-between; 
}

.footer_content ul {
    padding-left: 0;
}

.footer_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 50px;
}

.footer_subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9f9f9f;
    margin-bottom: 55px;
}

.footer_content-title {
    width: 37%;
}

.footer_links {
    width: 13%;
}

.footer_content_help {
    width: 25%; 
}

.footer_content li{
    margin-bottom: 46px;
}

.footer_link {
    margin-bottom: 46px;
    text-decoration: none; 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.footer_line {
    width: 100%; 
    border: 1px solid #BBCBCA;
    margin-bottom: 35px;
}

.footer_bottom{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}