header{
    nav{
        display: flex;
        flex-direction: row;
        .navbar_nav{
            display: flex;
            flex-direction: row;
        }
        .logos{
            display: flex;
            flex-direction: row;
        }
    }
}
section{
    background-image: url('');
    background-color: red;
}